body{
    background-color: antiquewhite;
}

.statsdiv,
.refImages,
.selectdiv{
    display: flex;
    flex-direction: row;
}

.statblock{
    display: flex;
    flex-direction: column;
    margin: 10px;
}


img{
    align-self: flex-end;
}

.profileImages{
    visibility: hidden;
    display: none;
}