body{
    background-color: antiquewhite;
}

.refImages,
.selectdiv{
    white-space: nowrap;
}

select,
img{
    display: inlie-block;
}

.profileImages{
    visibility: hidden;
    display: none;
}